.Container {

  display: flex;
  width: 50%;
  height: 900px;
  flex-flow: row wrap;
  border: 5px red solid;
  align-items: center;
  justify-content: space-around;

}
.Card {
  display: flex;
  width: 21%;
  height: 30%;
  align-items: center;
  justify-content: center;
}

.Card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Yellow {
  display: flex;
  width: 21%;
  height: 30%;
  align-items: center;
  justify-content: center;
}

.Yellow:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Green {
  display: flex;
  width: 21%;
  height: 30%;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.Green:hover {
  opacity: 0.8;
  cursor: pointer;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
  max-width: 80%;
  max-height: 150%;
  object-fit: contain;
}
